{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "no-console:": 0,
    "no-alert:": 0,
    "jsx-a11y/label-has-for": 0,
    "no-underscore-dangle": 0
  }
}
