<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">



    <head>



        <title>Silver Link Platform</title>



        <!-- Chrome, Firefox OS and Opera -->

<meta charset="utf-8"/>

  <meta name="author" content="Alexander Dawson" />

  <meta name="description" content="Link Project">



<link rel="shortcut icon" href="favicon.ico?crc=328987819"/>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<link href="box.css" rel="stylesheet" title="main-css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


     <!--   <link rel="stylesheet" href="assets/css/bootstrap.css">-->





        <script src="box.min.js"></script>







    </head>



        <body background="#33425C">



</body>

</html>
