@import "header.scss";

html, body { background-color: #FFF !important; }


#root { color: #111;
	h1, h2, h3, h4, h5, h6, p { color: #FFF; }
	h1 { margin-top: 30px; }
	.ant-form-item { margin-bottom: 15px; }
	h2 { margin-top: 30px; }
}

#address{

border-radius: 3px;
background-color:#33425c!important;
width:31%;
margin:3%;
margin-left:6%;
padding:1%;}


#redeem {

border-radius: 3px;
background-color:#33425c!important;
width:19%;
margin:3%;
margin-top:3%;
padding-top:3%;
padding-bottom:3%;
margin-left:16%;  }

#transactions {

border-radius: 3px;
padding-top:1.5%;
background-color:#33425c!important;
padding-bottom:3%;  }

#buydirect {

margin:3%;
border-radius: 3px;
background-color:#33425c!important;
width:19%;
padding-top:3%;
margin-left:15%;
  }

#marketinfo {

margin:3%;
border-radius: 3px;
background-color:#33425c!important;
width:26%;
padding-top:3%;
padding-bottom:2%;
margin-left:9%;
  }


#balance, #exchange{

margin:3%;
border-radius: 3px;
background-color:#33425c!important;
width:15%;
margin-top:3%;
padding-top:6%;
padding-bottom:6%;  }

#header {

border-radius: 3px;
background-color:#33425c!important;
width:90%;
margin-left:52px;
padding-top:1.3%;
padding-bottom:3%;
margin-bottom:3%;   }

#header, H5{

text-align:left;
font-weight:700;


   }

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
	background: #fff;
}
